body{
    background: rgb(103, 103, 231);
    font-family: sans-serif;
    width: 100%;
    margin: 20px 20px 10px 20px;
    text-align: center; 
}
h1 {
    font-size: 2.5em;
    color: #a80707;
    text-align: center;
    font-family: cursive;
}


form {
    margin: 0% auto;
    width: 200px;
}
input {
    margin-bottom: 10px;
    padding:10px 10px 10px 10px;
    width:200%;
    border:0px solid;
    font-size: 1em;
    background: gainsboro;
    
    
 }
 button{
    margin-top: 20px;
    padding: 10px;
    background-color:rgb(212, 14, 14);
    width: 50%;
    color: aliceblue;
    font-size: large;

 }